/*--Cuerpo carrito--*/
/**********************/
.secCarrito {
    background-color: #ffffff;

    display: grid;
    grid-template-areas:
	"divTituloLista divTituloResumen"
    "divLista       divResumen";    
    grid-template-columns: 5fr 3fr;
    justify-content: start;
    align-items:start;
    row-gap: 5px;

    .divTituloLista {
        grid-area: divTituloLista;
        margin-right: 50px;
    }
    .divLista {
        grid-area: divLista;
		
        display: flex;
        flex-direction: row;
        margin-right: 50px;

        .anchoLinea {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
    .divTituloResumen {
        grid-area: divTituloResumen;
        margin-left: 50px;
    }
    .divResumen {
        grid-area: divResumen;
    
        display: flex;
        flex-direction: row;
        margin-left: 50px;
    }
    .montos {
        text-align: right;
    }
}